body{
    margin: 0;
    background: linear-gradient(to bottom, #9D7297 15%, #D4B5D0 15%, #D4B5D0 48%, #F9F1F8 48%, #F9F1F8 100%) no-repeat ;
    background-size: 100% 100%;
    font-size: 20px;
}
h6{
    width: 70%;
    margin-bottom: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: lighter;
    padding-left: 1rem;
    background: #D4B5D0;
}


.cv__wrapper{
    margin: 3% 15%;
    align-items: center;
}

.cv__avatar{
    width: 18rem;
    height: 18rem;
    border: 4px solid white;
    border-radius: 50%;
}
.cv__firstRow{
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}
.cv__namePerson{
    margin-top: 1.5rem;
    font-size: 2.2rem;
    letter-spacing: .2rem;
    font-weight: lighter;
}

.cv__specialty{
    width: 26rem;
    background: #F9F1F8;
    border-radius: .5rem;
    padding: 1rem 0 1rem 1rem;
    letter-spacing: .2rem;
    font-weight: lighter;
}

.cv__secondRow,
.cv__thirdRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Work Sans, sans-serif;
    letter-spacing: .2rem;
    font-weight: lighter;
    line-height: 2rem;
}

.cv__thirdRow{
    padding-top: 4rem;
}

.cv__secondRow{
    margin-bottom: 3rem;
}

.cv__firstColumn{
    width: 50%;
}

.cv__secondColumn{
    line-height: 2.5rem;
    width: 35%;
}



.cv__descriptionInfo{
    padding-left: 1rem;
}

.material-icons{
    color: #595959;
}

hr{
    margin-top: 0;
    color: #595959;
}